<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="style.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  </head>
  <body>
    <a href="/map">See Map</a>
  	<div class="">
          current long and lat to search by:
	  <ul>
	    <li>-0.696466, 51.904095</li>
	    <li>-0.556254, 52.222072</li>
	    <li>-0.494457, 52.160646</li>
	    <li>-0.500503, 52.165191</li>
	  </ul>
    	<form id="find" action="/crime" class="" method="POST" novalidate="">
      	<div id="field1-container" class="field f_100">
        	<label for="lat">Lat</label>
          <input type="text" name="lat" id="lat" required="required">
        </div>
        <div id="field2-container" class="field f_100">
        	<label for="long">Long</label>
          <input type="text" name="long" id="long" required="required">
        </div>
        <div id="form-submit" class="field f_100 clearfix submit">
        	<input type="submit" value="Submit">
        </div>
    	</form>
		</div>

		<div id="result">
			<span id="latlng"></span>
			<span id="crime"></p>
		</div>

  </body>
</html>
